body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #0e0d0d
}

a, p {
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: #38e4ff;
}

.container {
    position: relative;
}

.child {
    position: absolute;
    margin-left: 40%;
    margin-top: 15%;
}
