SQLAlchemy~=1.4.44
fastapi~=0.87.0
pydantic~=1.10.2
passlib~=1.7.4
tenacity~=8.1.0
python-multipart~=0.0.5
uvicorn==0.20.0
psycopg2~=2.9.5
psycopg-binary~=3.1.4
asyncpg~=0.27.0
python-jose~=3.3.0
pytest~=7.2.0
bcrypt~=4.0.1
httpx~=0.23.0
envparse~=0.2.0
fastapi-filter~=0.4.0
